In [1]:
import pandas as pd
import re
import os

In [2]:
files = [file for file in os.listdir('./FY 21 Data')]
all_months_data = pd.DataFrame()
for file in files:
    df = pd.read_excel('./FY 21 Data/'+file)
    all_months_data = pd.concat([all_months_data, df])
all_months_data.to_excel('all_data_ID_Totals.xlsx', index=False)
all_months_data

PermissionError: [Errno 13] Permission denied: './FY 21 Data/.ipynb_checkpoints'

In [5]:
all_months_data_groups = all_months_data.groupby(['PI','IDs']).sum()
all_months_data_groups.to_csv('all_data_ID_Totals_Grouped.csv')
all_months_data_groups

                     Apr'20 Due  Aug'20 Due  Dec'19 Due  Feb'20 Due  \
PI     IDs
Cronin 881621467686       15.07       15.07       15.07       15.07
       881621467706       15.07       15.07       15.07       15.07
       881621467707       90.58       74.07      105.28       94.92
       881631439111       37.20       61.22       15.07       15.07
       881631439114       41.08       19.73       15.07       15.07
...                         ...         ...         ...         ...
Sutton 881651460952       15.07       15.07       15.07       15.07
       881651461152       46.00       15.07       46.74       47.23
       881651477444       16.06       23.70       15.07       15.07
       881651477445       46.49       28.18       48.71       47.21
       881651477579       51.65       60.03       51.90       48.44

                     Jan'20 Due  Jul'20 Due  Jun'20 Due  Mar'20 Due  \
PI     IDs
Cronin 881621467686       15.07       15.07       15.07       15.07
       881621467706       15.07       15.07       15.07       15.07
       881621467707      106.51       96.49       91.07       96.54
       881631439111       15.07       41.10       46.38       17.55
       881631439114       15.07       36.15       41.30       21.95
...                         ...         ...         ...         ...
Sutton 881651460952       15.07       15.07       15.07       15.07
       881651461152       49.19       27.44       48.21       48.23
       881651477444       15.07       15.07       15.07       24.20
       881651477445       50.18       54.89       47.22       47.97
       881651477579       50.42       55.60       53.38       52.15

                     May'20 Due  Nov'19 Due  Oct'19 Due  Sep'20 Due
PI     IDs
Cronin 881621467686       15.07       15.07       15.07       15.26
       881621467706       15.07       15.07       15.07       15.26
       881621467707       99.94      102.86      112.21       15.26
       881631439111       34.22       15.07       15.07       62.70
       881631439114       30.52       15.07       22.77       16.25
...                         ...         ...         ...         ...
Sutton 881651460952       15.07       15.07       15.07       15.26
       881651461152       52.40       47.73       52.18       15.26
       881651477444       15.07       15.81       44.70       15.26
       881651477445       53.36       47.95       49.45       15.26
       881651477579       56.08       31.84       15.07       64.20

[544 rows x 12 columns]

In [15]:

all_months_data_groups['FY 20 Year End Totals'] = all_months_data_groups["Apr'20 Due"] + all_months_data_groups["Aug'20 Due"] + all_months_data_groups["Dec'19 Due"] + all_months_data_groups["Feb'20 Due"] + all_months_data_groups["Jan'20 Due"] + all_months_data_groups["Jul'20 Due"] + all_months_data_groups["Jun'20 Due"] + all_months_data_groups["Mar'20 Due"] + all_months_data_groups["May'20 Due"] + all_months_data_groups["Nov'19 Due"] + all_months_data_groups["Oct'19 Due"] + all_months_data_groups["Sep'20 Due"]
all_months_data_groups.to_csv('all_data_ID_Totals_Grouped_Totals.csv')
all_months_data_groups

                     Apr'20 Due  Aug'20 Due  Dec'19 Due  Feb'20 Due  \
PI     IDs
Cronin 881621467686       15.07       15.07       15.07       15.07
       881621467706       15.07       15.07       15.07       15.07
       881621467707       90.58       74.07      105.28       94.92
       881631439111       37.20       61.22       15.07       15.07
       881631439114       41.08       19.73       15.07       15.07
...                         ...         ...         ...         ...
Sutton 881651460952       15.07       15.07       15.07       15.07
       881651461152       46.00       15.07       46.74       47.23
       881651477444       16.06       23.70       15.07       15.07
       881651477445       46.49       28.18       48.71       47.21
       881651477579       51.65       60.03       51.90       48.44

                     Jan'20 Due  Jul'20 Due  Jun'20 Due  Mar'20 Due  \
PI     IDs
Cronin 881621467686       15.07       15.07       15.07       15.07
       881621467706       15.07       15.07       15.07       15.07
       881621467707      106.51       96.49       91.07       96.54
       881631439111       15.07       41.10       46.38       17.55
       881631439114       15.07       36.15       41.30       21.95
...                         ...         ...         ...         ...
Sutton 881651460952       15.07       15.07       15.07       15.07
       881651461152       49.19       27.44       48.21       48.23
       881651477444       15.07       15.07       15.07       24.20
       881651477445       50.18       54.89       47.22       47.97
       881651477579       50.42       55.60       53.38       52.15

                     May'20 Due  Nov'19 Due  Oct'19 Due  Sep'20 Due  \
PI     IDs
Cronin 881621467686       15.07       15.07       15.07       15.26
       881621467706       15.07       15.07       15.07       15.26
       881621467707       99.94      102.86      112.21       15.26
       881631439111       34.22       15.07       15.07       62.70
       881631439114       30.52       15.07       22.77       16.25
...                         ...         ...         ...         ...
Sutton 881651460952       15.07       15.07       15.07       15.26
       881651461152       52.40       47.73       52.18       15.26
       881651477444       15.07       15.81       44.70       15.26
       881651477445       53.36       47.95       49.45       15.26
       881651477579       56.08       31.84       15.07       64.20

                     FY 20 Year End Totals
PI     IDs
Cronin 881621467686                 181.03
       881621467706                 181.03
       881621467707                1085.73
       881631439111                 375.72
       881631439114                 290.03
...                                    ...
Sutton 881651460952                 181.03
       881651461152                 495.68
       881651477444                 230.15
       881651477445                 536.87
       881651477579                 590.76

[544 rows x 13 columns]

In [10]:
print(all_months_data_groups.columns)

Index(['Apr'20 Due', 'Aug'20 Due', 'Dec'19 Due', 'Feb'20 Due', 'Jan'20 Due',
       'Jul'20 Due', 'Jun'20 Due', 'Mar'20 Due', 'May'20 Due', 'Nov'19 Due',
       'Oct'19 Due', 'Sep'20 Due', 'FY 20 Year End Totals'],
      dtype='object')