# INMARSAT Feburary Bill 2021

## Import Libraries

In [5]:
import pandas as pd

import numpy as np

import re

import os

## Cleaning Data: 
1. Uploading Invoice, 2. Removing NaNs, 3. Renaming Columns Needed, 4. Filtering Totals, 5. Resetting Index To Current Filtered Rows, 6. Removing 'Unamed' Columns, 7. Getting ID Numbers For New 'IDs' Column, 8. Getting Amounts Creating New 'Amounts Due' Column, 9. Turning Amounts Due from Strings of Text into Numbers, 10. Removing 'ID' and 'Totals' Column, 11. Saving Version to .csv, 12. Checking My Work, 13. Checking Amounts Due Totals

In [6]:
df = pd.read_csv('Feburary_2021_Invoice.csv') #1. Uploading Invoice

df = df.fillna("") #2. Removing NaNs

df = df.rename(columns={"Unnamed: 8": "ID", "Unnamed: 19": "Totals"}) #3. Renaming Columns Needed

df = df.loc[df['ID'].str.contains('^to[a-z]*', flags=re.I, regex=True)] #4. Filtering Totals

df = df.reset_index(drop=True) #5. Resetting Index To Current Filtered Rows

df = df.loc[:, ~df.columns.str.contains('^Unnamed')] #6. Removing 'Unamed' Columns

def get_ID(ID):
    return ID.split(' ')[2] #7. Getting ID Numbers For New 'IDs' Column

df['IDs'] = df['ID'].apply(lambda x: get_ID(x)) #7. Getting ID Numbers For New 'IDs' Column

df['Amounts Due'] = df['Totals'].apply(lambda x: x.split('$')[1]) #8. Getting Amounts Creating New 'Amounts Due' Column

df['Amounts Due'] = pd.to_numeric(df['Amounts Due']) #9. Turning Amounts Due from Strings of Text into Numbers

df = df.drop(columns=['ID', 'Totals']) #10. Removing 'ID' and 'Totals' Column

df.to_csv('INMARSAT Feburary 2021.csv', index=False) #11. Saving Version to CSV

df #12. Checking My Work

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 7: invalid start byte

In [4]:
df.sum(axis = 0, skipna = True) #13. Checking Amounts Due Totals

Bill To:       10/11/2019 -10/11/2019 -10/11/2019 -10/11/2019...
IDs            0000000001000000000001010000000001020000000001...
Amounts Due                                              14435.3
dtype: object

## Merging .csv Files Based on ID Numbers
1. Defining Our Previous Notebook Saved, 2. PI and ID Number Data, 3. Uploading Data, 4. Printing to see our columns, 5. Merging Our Files Based on ID Number, 6. Saving Version to .csv, 7. Checking My Work, 8. Checking Amounts Due Totals

In [5]:
initial_workbook = 'INMARSAT January 2021.csv' #1. Defining Our Previous Notebook Saved
info_workbook = 'Active DF COMPLETE Jan 12.xlsx' #2. Defining PI and ID Number Dataframe

df_initial = pd.read_csv(initial_workbook) #3. Uploading Data
df_info = pd.read_excel(info_workbook) #3. Uploading Data

print(df_initial.columns) #4. Printing to see our columns
print(df_info.columns) #4. Printing to see our columns

Index(['Bill To:', 'IDs', 'Amounts Due'], dtype='object')
Index(['IDs', 'Type', 'PI'], dtype='object')

In [6]:
df_3 = pd.merge(df_initial, df_info[['IDs','PI','Type']], on='IDs', how='left') #5. Merging Our Files Based on ID Number
df_3.to_csv('INMARSAT January 2021 Data.csv', index=False) #6. Saving Version to .csv

df_3 #7. Checking My Work

         Bill To:           IDs  Amounts Due        PI              Type
0    10/11/2019 -           100        13.79    Sutton  SHORT BURST DATA
1             NaN           101        13.79  McPhaden  SHORT BURST DATA
2             NaN           102        13.79  McPhaden  SHORT BURST DATA
3             NaN           103        13.79  McPhaden  SHORT BURST DATA
4             NaN           104        13.79  McPhaden  SHORT BURST DATA
..            ...           ...          ...       ...               ...
496           NaN  881651461225        15.44  McPhaden            RUDICS
497           NaN  881651477444        15.44    Sutton            RUDICS
498           NaN  881651477445        32.44    Sutton            RUDICS
499           NaN  881651477579        60.69    Sutton            RUDICS
500           NaN  881651477580        15.44     Dziak            RUDICS

[501 rows x 5 columns]

In [7]:
df_3.sum(axis = 0, skipna = True) #8. Checking Amounts Due Totals

IDs                                              364995033151784
Amounts Due                                              14435.3
PI             SuttonMcPhadenMcPhadenMcPhadenMcPhadenMcPhaden...
Type           SHORT BURST DATASHORT BURST DATASHORT BURST DA...
dtype: object

## Generating PI and Type Billing Report
1. Upload Merged .csv File, 2. Rename Column, 3. Organizing Based on 'PI' and 'Type', 4. Removing Column, 5. Saving Billing Report to .csv, 6. Checking My Work, 7. Checking Amounts Due Totals

In [8]:
df_3 = pd.read_csv('INMARSAT January 2021 Data.csv') #1. Upload Merged .csv File

df_3 = df_3.rename(columns={"Amounts Due": "Jan'21 Amounts Due"}) #2. Rename Column

df_3 = df_3.groupby(['PI', 'Type']).sum() #3. Organizing Based on 'PI' and 'Type'

df_3 = df_3.drop(columns=['IDs']) #4. Removing Column

df_3.to_csv('INMARSAT January 2021 BILL PI TYPES.csv') #5. Saving Billing Report to .csv

df_3 #6. Checking My Work

                                   Jan'21 Amounts Due
PI               Type
Cronin           RUDICS                        300.91
Cross            RUDICS                        175.21
Dziak            Non-RUDICS                     47.99
                 RUDICS                         61.76
Feely            RUDICS                        110.83
                 SHORT BURST DATA               43.03
Johnson          RUDICS                       7225.85
                 SHORT BURST DATA              367.72
Klinck           RUDICS                         15.44
McPhaden         RUDICS                       2044.78
                 SHORT BURST DATA              275.80
Meinig Chaba     RUDICS                         16.94
Meinig DART      RUDICS                         89.70
                 RUDICS VOICE                   47.99
                 SHORT BURST DATA               82.74
Meinig GNSS GPS  SHORT BURST DATA               13.79
Meinig SPURS2    RUDICS                         30.88
                 SHORT BURST DATA               27.58
Mordy IOTAS-ITAE SHORT BURST DATA              180.12
Mordy ITAE       RUDICS                        623.83
Stabeno          SHORT BURST DATA              358.54
Sutton           Non-RUDICS                     62.38
                 RUDICS                       2114.57
                 SHORT BURST DATA              116.92

In [11]:
df_3.sum(axis = 0, skipna = True) #7. Checking Amounts Due Totals

Jan'21 Amounts Due    14435.3
dtype: float64

## Generating PI Billing Report
1. Upload Merged .csv File, 2. Rename Column, 3. Organizing Based on 'PI', 4. Removing Column, 5. Saving Billing Report to .csv, 6. Checking My Work, 7. Checking Amounts Due Totals

In [12]:
df_3 = pd.read_csv('INMARSAT January 2021 Data.csv') #1. Upload Merged .csv File

df_3 = df_3.rename(columns={"Amounts Due": "Jan'21 Amounts Due"}) #2. Rename Column

df_3 = df_3.groupby(['PI']).sum() #3. Organizing Based on 'PI'

df_3 = df_3.drop(columns=['IDs']) #4. Removing Column

df_3.to_csv('INMARSAT January 2021 BILL PI.csv') #5. Saving Billing Report to .csv

df_3 #6. Checking My Work

                  Jan'21 Amounts Due
PI
Cronin                        300.91
Cross                         175.21
Dziak                         109.75
Feely                         153.86
Johnson                      7593.57
Klinck                         15.44
McPhaden                     2320.58
Meinig Chaba                   16.94
Meinig DART                   220.43
Meinig GNSS GPS                13.79
Meinig SPURS2                  58.46
Mordy IOTAS-ITAE              180.12
Mordy ITAE                    623.83
Stabeno                       358.54
Sutton                       2293.87

In [13]:
df_3.sum(axis = 0, skipna = True) #7. Checking Amounts Due Totals

Jan'21 Amounts Due    14435.3
dtype: float64