# FY21 Concanted Billing Usage Data Collection 2

In [1]:
import os
import glob
import pandas as pd
os.chdir("./FY 21 Data Collection 2") #Folder name you are accessing the files.
#Make sure you added the filed with "data" in file name from invoice processing.

In [2]:
extension = 'xlsx'#The extension of the files that you will be concating. 
#Make sure to change if using other files types.
all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
#combine all files in the list
combined_excel = pd.concat([pd.read_excel(f) for f in all_filenames ])
#export to excel make sure to change if using another extension.
combined_excel.to_excel("all_data_pi_id_type collection 2.xlsx", index=False)
#Saving to Excel file 
#this is because the IDs get currupted in when saved to .csv when making outside adjustments.
#no only using excel for usage billing information.
combined_excel

,Bill To:,IDs,Amounts Due,ICCID,MSISDN-C,PI,Type
0,10/11/2019 -,100,13.79,3.000340e+14,3.000340e+14,Sutton,SHORT BURST DATA
1,NaN,101,13.79,3.000340e+14,3.000340e+14,McPhaden,SHORT BURST DATA
2,NaN,102,13.79,3.000340e+14,3.000340e+14,McPhaden,SHORT BURST DATA
3,NaN,103,13.79,3.000340e+14,3.000340e+14,McPhaden,SHORT BURST DATA
4,NaN,104,13.79,3.000340e+14,3.000340e+14,McPhaden,SHORT BURST DATA
...,...,...,...,...,...,...,...
522,NaN,881651461225,15.44,8.988170e+18,8.816938e+11,McPhaden,RUDICS
523,NaN,881651477444,25.19,8.988170e+18,8.816938e+11,Sutton,RUDICS
524,NaN,881651477445,44.94,8.988170e+18,8.816938e+11,Sutton,RUDICS
525,NaN,881651477579,15.44,8.988170e+18,8.816938e+11,Sutton,RUDICS
526,NaN,881651477580,15.44,8.988170e+18,8.816938e+11,Dziak,RUDICS

In [3]:
df = pd.read_excel('all_data_pi_id_type collection 2.xlsx')
#read our previous file so we can organize and group it accoridng to criteria in next line
df = df.groupby(['PI', 'IDs','Type']).sum()
#grouping by PI, IDs, and Type. It organizes our data after being concanted and makes it easier to read.
df['FY 21 Collection 2 Totals'] = df.iloc[:, 0:14].sum(axis=1)
#Adds a total column make sure to change the column title accordingly cor the correct colleciton.
df.to_excel('FY 21 INMARSAT Collection 2 Totals PI Id Type.xlsx')
#Saves our changes to an excel for our final product. 
#Remember that an excel file will not have currupted IDS.
df

                                                      Amounts Due  \
PI                           IDs          Type
Cronin                       881621467686 RUDICS            61.76
                             881621467706 RUDICS            61.76
                             881621467707 RUDICS           249.76
                             881631439111 RUDICS           144.51
                             881631439114 RUDICS           145.26
...                                                           ...
Sutton                       881651461152 RUDICS           140.01
                             881651477444 RUDICS            83.01
                             881651477445 RUDICS           131.51
                             881651477579 RUDICS           155.26
Sutton DEACTIVATED 5/06/2021 881621455248 Non-RUDICS       256.76

                                                             ICCID  \
PI                           IDs          Type
Cronin                       881621467686 RUDICS      3.595268e+19
                             881621467706 RUDICS      3.595268e+19
                             881621467707 RUDICS      3.595268e+19
                             881631439111 RUDICS      3.595268e+19
                             881631439114 RUDICS      3.595268e+19
...                                                            ...
Sutton                       881651461152 RUDICS      3.595268e+19
                             881651477444 RUDICS      3.595268e+19
                             881651477445 RUDICS      3.595268e+19
                             881651477579 RUDICS      3.595268e+19
Sutton DEACTIVATED 5/06/2021 881621455248 Non-RUDICS  3.595268e+19

                                                          MSISDN-C  \
PI                           IDs          Type
Cronin                       881621467686 RUDICS      3.526773e+12
                             881621467706 RUDICS      3.526773e+12
                             881621467707 RUDICS      3.526773e+12
                             881631439111 RUDICS      3.526772e+12
                             881631439114 RUDICS      3.526772e+12
...                                                            ...
Sutton                       881651461152 RUDICS      3.526775e+12
                             881651477444 RUDICS      3.526775e+12
                             881651477445 RUDICS      3.526775e+12
                             881651477579 RUDICS      3.526775e+12
Sutton DEACTIVATED 5/06/2021 881621455248 Non-RUDICS  3.526773e+12

                                                      FY 21 Collection 2 Totals
PI                           IDs          Type
Cronin                       881621467686 RUDICS                   3.595268e+19
                             881621467706 RUDICS                   3.595268e+19
                             881621467707 RUDICS                   3.595268e+19
                             881631439111 RUDICS                   3.595268e+19
                             881631439114 RUDICS                   3.595268e+19
...                                                                         ...
Sutton                       881651461152 RUDICS                   3.595268e+19
                             881651477444 RUDICS                   3.595268e+19
                             881651477445 RUDICS                   3.595268e+19
                             881651477579 RUDICS                   3.595268e+19
Sutton DEACTIVATED 5/06/2021 881621455248 Non-RUDICS               3.595268e+19

[531 rows x 4 columns]